.task {
  width: auto;
  padding: 0 20px;
  margin-top: 20px;
  position: relative;
}

.task__wrapper {
  display: flex;
  height: max-content;
  align-items: center;
}

.task__hideInput {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 0;
}

.task__checkmark {
  display: block;
  height: 20px;
  width: 20px;
  background: #fff;
  border: 2px #ddd solid;
  margin-right: 4px;
  border-radius: 4px;
}

.task__checkmark_active {
  border-color: #29303b;
  background: #29303b;
  position: relative;

  &::after,
  &::before {
    position: absolute;
    content: '';
    top: 8px;
    width: 50%;
    right: 7px;
    height: 4px;
    border-radius: 1px;
    background-color: white;
    transform: rotate(40deg);
  }

  &::before {
    width: 80%;
    top: 6px;
    right: 0;
    transform: rotate(135deg);
  }
}

.task__title {
  width: 100%;
  font-size: 18px;
  margin-left: 10px;
}

.task__title_complete {
  text-decoration: line-through;
}

.deleteTaskBtn {
  width: 15px;
  height: 15px;

  border: none;
  position: absolute;
  right: 10px;
  top: 25%;

  cursor: pointer;

  &::after,
  &::before {
    content: '';
    background-color: #cc5c38;
    width: 4px;
    height: 100%;
    position: absolute;
    transform: rotate(45deg);
    border-radius: 1px;
    top: 0;
    right: 25%;
  }

  &::after {
    transform: rotate(-45deg);
  }
}
